@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Color+Emoji&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/* -----------------------------------------------------------------------------
 | Theme Files
 * -------------------------------------------------------------------------- */

@import "./root.css";
@import "./dark.css";
@import "./tokens.css";

@custom-variant dark (&:is(.dark *));

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background/80 text-foreground/80 text-[1rem];
    }
    html {
        @apply text-[16px]  font-sans;
    }
    p {
        @apply leading-5;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(8px);

    transition: all 0.8s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}
