@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Color+Emoji&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/* -----------------------------------------------------------------------------
 | Theme Files
 * -------------------------------------------------------------------------- */

@import "./root.css";
@import "./dark.css";
@import "./tokens.css";

@custom-variant dark (&:is(.dark *));

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground/80 text-[1rem];
        scrollbar-width: thin;
    }
    html {
        @apply text-[16px] font-sans;
        scrollbar-color: oklch(var(--amber950) / 70%) transparent;
    }
    html.dark {
        scrollbar-color: oklch(var(--amber100) / 70%) transparent;
    }
    p {
        @apply leading-6.5;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(8px);
    transition: all 0.8s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}
